<!-- <div class="container" >
  <form class="timeline_form"  >
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" name="name" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">description</label>
    <textarea name="description" style="width: 100%" ></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Start date</label>
    <input name="start_date" class="start_date" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">End date</label>
    <input name="end_date" class="end_date" />
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Added by</label>
    <input name="added_by" name="name" type="text" class="form-control" placeholder="Added by">
  </div>

  <button class="submit_form" type="button" class="btn btn-primary">Submit</button>

  </form>
</div>

<script>
  // $(document).ready(function(){
  //   debugger
  // })

  $('.end_date').datepicker({
      uiLibrary: 'bootstrap4'
  });
  $('.start_date').datepicker({
      uiLibrary: 'bootstrap4'
  });

  $(".submit_form").click(function(e) {
    debugger


    var form = $(this);
    var url = "timeline/create";

    $.ajax({
           type: "POST",
           url: url,
           // data: $('.timeline_form').serialize(), // serializes the form's elements.
           success: function(data)
           {
               // alert(data); // show response from the php script.
           }
         });

    e.preventDefault(); // avoid to execute the actual submit of the form.
});

</script> -->