<style type="text/css">
  .gtasktableh{
    width: 100%;
  }
  .gtasktable{
    width: 100%;
  }

  .gantt td {
    padding: 0.08rem !important;
  }

  .gselector{
    font-size: 1.1rem !important;
  }

  .gtaskheading{
    font-size: 1.1rem !important;
  }

  .gtaskname div, .gtaskname {
    min-width: 170px;
    max-width: 170px;
    width: 170px;
    font-size: 13px !important;
    border-left: none;
    font-weight: 500 !important;
}

.gtaskheading {
  font-size: 12px !important;
  font-weight: 200 !important;
}

.genddate{
  font-size: 12px !important;
  font-weight: 200 !important;
}

.gstartdate {
  font-size: 12px !important;
  font-weight: 200 !important;
}

.gmajorheading {
  font-weight: 200 !important;
  font-size: 10px !important;
}

.gformlabel{
  padding: 0.9rem !important ;
}

.gselector {
  padding: 1.2rem !important;
}
#GanttChartDIV table, th, td {
   border: 0.1rem solid #c1c6c7 !important;
}

.ggroupblack{
  background: rgb(94, 151, 246) !important;
  height: 1rem !important;
  border-radius: 2px !important ;
  cursor: pointer;
} 

.gcontainercol {
  overflow-y: hidden !important;
}

td.gtaskcell {
  height: 3rem !important ;
}

.ggroupitem{
  height: 3rem !important ;
  margin-bottom: 5px !important ;
}

.gTaskInfo {
    background: #ffffff !important;
    width: 270px !important;
    border: #656565 1px solid;
    border-radius: 10px;
    padding: 4px 6px 4px 6px;
    float: left;
    text-align: justify;
    line-height: 2rem;
}

.gTtTitle {
  font-size: 1.5rem !important;
  font-family: Roboto, sans-serif;

}
.gTaskText{
  display: inline-block !important;
  font-size: 13px !important;
  width: 62% !important;
    text-align: right !important;
}

.gTaskNotes {
  font-size: 13px !important;
  width: 62% !important;
    text-align: right !important;
    display: inline-block !important ;
     color: #656565 !important ;
}

.gTIc {
  display: none;
}

.gTaskLabel{
  font-size: 13px !important;
}
.gantt{
    max-width: 128rem;
    margin: auto;
}

  .show_graph_container {
    padding: 2rem;
  }

  body{
    font-family: Roboto, sans-serif;
  }

  .fixed-width{
    width: 100%;
    height: 7rem;
    background: #ae00ad;
    color: white;
    margin: 0;
    margin-bottom: 2rem;
  }



  .none{
    display: none;
  }

  
.user_filter {
  max-width: 16rem;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

</style>

<%= javascript_include_tag "jsgantt.js" %>
<!-- <link rel="stylesheet" href="jsgantt.css"> -->
<script src="/assets/jsgantt.js"></script>

<link href="/assets/jsgantt.css" rel="stylesheet" type="text/css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="jsgantt.js" type="text/javascript"></script> -->



<div class="show_graph_container" >
  <%= render :partial => "graph" %>
</div>

<div class="modal fade" id="destroy_timeline_modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete</p>
      </div>
      <div class="modal-footer">
        <button  type="button" data-id="" class="btn btn-primary confirm_delete">yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div id="myModall" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="color: #ae00ad;" class="modal-title">Timeline Tool</h4>
      </div>
      <div class="modal-body timeline_form">
        <!-- <p>Some text in the modal.</p> -->
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
    </div>

  </div>
</div>

<!-- <div class="show_graph_container" ></div> -->

<!-- <script type="text/javascript">
 $(document).delegate('.ggroupitem', 'click', function(){
  debugger
  // $('.ggroupitem').dblclick(function(){
   var id = $(this).attr('id')
   var task_id = id.split('_')[1];
   $.post("timeline/edit",
    {
        task_id: task_id,
    },
    function(data, status){
        $('.timeline_form').html(data);
        $('#myModall').modal('show')
        // alert("Data: " + data + "\nStatus: " + status);
    });
  })
</script>

<script type="text/javascript">
  $(document).ready(function(){
    debugger
    $('.gfoldercollapse').addClass('none');
    $('.ggroupblackendpointleft').addClass('none');
    $('.ggroupblackendpointright').addClass('none');
  })

 $(document).delegate('.gformlabel', 'click', function(){
  debugger
    $('.gfoldercollapse').addClass('none');
    $('.ggroupblackendpointleft').addClass('none');
    $('.ggroupblackendpointright').addClass('none');
 })

 $(".submit_form").click(function(e) {
    debugger


    var form = $(this);
    var url = "timeline/create";

    $.ajax({
           type: "POST",
           url: url,
           data: $('.timeline_form').serialize(), // serializes the form's elements.
           success: function(data)
           {
               // alert(data); // show response from the php script.
               // location.reload() ;
               // $('#myModall').modal('toggle');
              $('.show_graph_container').html(data);
           }
         });

    e.preventDefault(); // avoid to execute the actual submit of the form.
});

</script> -->
<script type="text/javascript">
  $(document).ready(function(){
    debugger
    // $('.gtaskname').html('Task Name')
    $('.show_graph').addClass('none')
    $('.create_task').removeClass('none')
    $('.glinev').addClass('none')
  })

  <% if !params[:name].present? %>

    $(document).delegate('.user_filter', 'change', function(){
          var name = $('option:selected', this).text();
          $.post("timeline/filter_name",
        {
            filter_name: name,
        },
        function(data, status){
            // $('.timeline_form').html(data);
            $('#destroy_timeline_modal').modal('hide')
            $('.show_graph_container').html(data);
            // location.reload() ;
        });
      });
  <% end %>

</script>